# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

env

TBH/__pycache__/

TBH/settings/local.py
TBH/settings/__pycache__/
TBH/fileparser/__pycache__/
TBH/middleware/__pycache__/

account/__pycache__/
order/__pycache__/
project/__pycache__/
payments/__pycache__/
pricing/__pycache__/
integrations/__pycache__/
tms/__pycache__/

account/migrations/__pycache__/
order/migrations/__pycache__/
project/migrations/__pycache__/
payments/migrations/__pycache__/
pricing/migrations/__pycache__/
integrations/migrations/__pycache__/
tms/migrations/__pycache__/

account/tests/__pycache__/
project/tests/__pycache__/
order/tests/__pycache__/
pricing/tests/__pycache__/
integrations/tests/__pycache__/

file_parser/__pycache__/
file_parser/parser/__pycache__/
file_parser/parser/base_parser/__pycache__/
file_parser/parser/base_parser/formats/__pycache__/
file_parser/parser/utils/__pycache__/

staticfiles/
